<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	
	<bean id="sa" class="com.sist.di5.Sawon">
		<constructor-arg>
			<value>100</value>
		</constructor-arg>
		<constructor-arg>
			<value>유덕귀</value>
		</constructor-arg>
		<constructor-arg>
			<value>재정부</value>
		</constructor-arg>
	</bean>
	<bean id="sc" class="com.sist.di5.SawonConfig"
		p:sa-ref="sa"
	/>
</beans>
