<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<context:annotation-config/>
	<context:component-scan base-package="com.sist.dao3">
		<context:exclude-filter type="regex" expression=".*vo"/>
		<!-- #regex : 정규식 , 확장자가 .~~~vo로 된 것은 제외 하라-->
	</context:component-scan>

</beans>
