@CHARSET "EUC-KR";

table{
	border-collapse: collapse;;
}
#table_content{
	border-top: 3px solid black;
	border-bottom: 2px solid black;	
}
#table_content th{
	background-color: #f8cbcb;
	color: #fff;
	border-bottom-width: 1px;
	border-bottom-color: #333;
	border-bottom: 1px solid;
	font-size: 12pt;
	height: 30px;
}

#table_content td{
	border-bottom-width: 1px;
	border-bottom-color: #666;
	border-bottom: 1px solid;
	font-size: 10pt;
	height: 25px;
}
#subject {
	text-align: left;
}
a{
	text-decoration: none;
	color: black;
}
#page{
	font-size: 12px;
	background-color: #fadcdc;
}

#content{
	text-align: left;
}
.tdcenter{
	text-align: center;
}



























