@CHARSET "EUC-KR";

#table_content {
	border-top: solid;
	border-top-width: 2px;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-collapse: collapse;
}

th {
	background-color: #FFCCCC;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-collapse: collapse;
}

 .tdinsert {
 	border-bottom: solid;
	border-bottom-width: 1px;
	border-collapse: collapse;
 }



.tdcenter, .tdleft {
	border-bottom: thin dotted;
	border-bottom-width: 1px;
	border-collapse: collapse;
}

body {
	font-family: 'Courier New';
}

img {
	border-radius: 15px;
}

a:link, a:visited, a:active, a:hover {
	text-decoration: none;
	color: #000000;
	
}

inpyt [type="button"],
input [type="submit"] {
	border-radius: 20px;
}